# Ignore TypeScript output inside the subproject
typescript-freecodecamp/node_modules/
typescript-freecodecamp/dist/
typescript-freecodecamp/*.js
typescript-freecodecamp/*.js.map
typescript-freecodecamp/.env
typescript-freecodecamp/.vscode/
